.inputTagCss{

}
body{
  overflow-x: hidden;
}
.row .comments{
  margin-top: 20px;
}
.comments_thump_pic{
margin-top: 10px;
margin-left: 20px;
margin-bottom: 10px;
}

.resizeNot {
  resize: none;
  height: 100px;
}

.comments_submit_btn{
  margin:8%;
}
